.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: row; */
}
.child{
    background-color: red;
    margin: 25px;
    padding: 1rem;
    color: black;
    flex-basis: 25%;
}
@media(max-widht: 1400px){
body {
    background-color: brown;
}
.child{
    background-color: chartreuse;
}    
}
@media(max-widht: 1200px){
body {
    background-color: blue;
}
.child{
    background-color: brown;
}    
}
@media(max-widht: 1000px){
body {
    background-color: cyan;
}    
}
