h1{
    background-color: black;
    color: bisque;
}
h2{
    background-color: blue;
    color: aliceblue;
}
h3{
    background-color: brown;
    color: black;
}
h4{
    background-color: blueviolet;
    color: aquamarine;
}
h5{
    background-color: black;
    color: azure;
}
h6{
    background-color: blue;
    color: black;
}