h1{
    background-color: blue;
    color: black;
}
h2{
    background-color: black;
    color: aliceblue;
}
h3{
    background-color: blue;
    color: brown;
}
h4{
    background-color: brown;
    color: black;
}
h5{
    background-color: aqua;
    color: black;
}
h6{
    background-color: black;
    color: blueviolet;
}


.ben1{
    background-color: blue;
    color: black;
}
#{
    background-color: black;
    color: blanchedalmond;
}